<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="LocalFolderPath" value="D:\WebSite" />
    <add key="FtpPath" value="ftp://10.10.6.21" />
    <add key="RemoteFolderPath" value="D:\Projects\Website-Shop81" />
    <add key="Envirenmont" value="Local" />
    <!-- Local|Remote -->
  </appSettings>
</configuration>